@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  transition: "2s ease";
}

body {
  margin: 0;
  padding: 0;
}
