.overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.048), rgba(68, 0, 0, 0.815));
  height: 100%;
  width: 100%;
  color: white;
  opacity: 1;
  border-radius: 10px;
  padding-top: 260px;
}

.image {
  display: block;
  height: auto;
}

.image-container {
  position: relative;
}

.overlay-act {
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(35, 34, 34, 0.044), rgb(68, 0, 0));
  height: 35%;
  width: 100%;
  color: white;
  opacity: 1;
}
