.active {
  background-color: #eee;
  font-weight: 600;
}

.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
}

.content {
  flex: 1;
}

.content-wrapper {
  padding: 100px 30px 0px 0px;
}
